.preload{
  height: 100vh;
  z-index: 101;
  position: absolute;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  #festejo{
      height: 200px;
      width: 400px;
      position: absolute;
      background: url('../img/festejo.png') 0 0 no-repeat;
      animation: 
          // run-cycle .8s steps(12) 7,
          walk-cycle 1s steps(12) 5,
          sit-down .5s steps(5) 5s 1;
      animation-fill-mode: forwards;
      z-index: 5;
      .bar{
          height: 30px;
          width: 80%;
          background: #fff;
          margin: auto;
          bottom: -15px;
          position: absolute;
          right: 0;
          left: 0;
          border-radius: 10px;
          &:before{
              content: '';
              position: absolute;
              background: #000;
              width: 0;
              height: 30px;
              animation: preloader 6s forwards;
              border-radius: 10px;
          }
          p{
              position: relative;
              line-height: 29px;
              text-align: center;
              font-size: 22px;
              color: #fff;
          }
      }
  }
  @media only screen and (max-width:600px){
    #festejo{
      transform: scale(0.5);
    }
  }
}
header{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 90px;
  background-color: rgba(252, 252, 252, 0.5);
  #header{
    width: 85%;
    margin:auto;
    max-width: 1450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }
  .header__cat{
    flex: 0 1 45%;
    .burguer{
      width: 70px;
      position: relative;
      transition: all 0.5s ease;
      &:before{
        content:'';
        width: 100%;
        height: 60px;
        top: -1px;
        position: absolute;
        background: linear-gradient(321deg, rgba(255, 255, 255, 0) 30%, #FFFFFE 39%, rgba(255, 255, 255, 0) 48%);
        background-size: 600% 500%;
        animation: lineCat 1s linear infinite;
      }
      .line{
        margin-bottom: 6px;
        height:4px;
        background-color: #000000;
        transition: all 0.5s ease;
      }
      .linesE{
        display: flex;
        justify-content: space-between;
        transition: opacity 0.5s ease;
        .line{
          width: 20px;
          &:first-child{
            width: 10px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      .linesH{
        .line:last-child{
          width: 50px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }    
  }
  .header__items{
    flex: 1;
    display: flex;
    justify-content: space-between;
    a{
      font-family: "livvicbold";
      padding: 8px 5px;
      position: relative;  
      &.active{
        &:after{
          content: '';
          position: absolute;
          height: 3px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background:#000;
          bottom: 0;
          animation: activo ease-in-out.5s forwards;
        }
      }
    }    
  }
  @media only screen  and (max-width:768px){
    .header__cat{
      flex: 0 1 25%;
    }
  }
  @media only screen  and (max-width:600px){
    height: 70px;
    #header{
      width: 95%;
    }    
    .header__cat{
      z-index: 10;
      .burguer{
        width: 60px;
        margin: auto;
        .line{
          &:nth-child(3){
            display: none;
          }
        }
        .linesE{
          .line{
            width: 17px;
          }
        }
        .linesH{
          .line:last-child{
            width: 44px;
          }
        }
        &.transform {
          // transform: rotate(90deg);
          width: 45px;
          .line{
            margin-bottom: 0;
            background-color: #fff;
            transition: all .5s;
            &:first-child{
              transform: rotate(45deg);
            }
            &:nth-child(2){
              transform: rotate(-45deg);
              margin: 0;
              position: relative;
              bottom: 4px;
            }
            &:last-child{
              opacity: 0;
            }
          }
          &:before{
            content: none;
          }
        }
      }
    }
    .header__items{
      visibility: hidden;
      width: 0;
      opacity: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: width 0.5s, visibility 0s, opacity 0.5s linear;
      &.hi_mobile{
        display: flex;
        background-color: rgba(#000, 0.8);
        position: fixed;
        height: 100vh;
        bottom: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 1;
        visibility: visible;
        a{
          color: #fcfcfc;
          font-size: 30px;
          font-family: $f_semi_bold;
          padding: 8px;
          margin-bottom: 10px;
        }
      }
      a.active{
        &:after{
          background-color: #fcfcfc;
        }
      }
    }
  }
}
@keyframes lineCat{
  0%{background-position:76% 100%}
  100%{background-position:25% 0%}
}
@keyframes activo{
  0%{width: 0; opacity: 0;}
  100%{width: 100%; opacity: 1;}
}
@keyframes preloader{
  90%{
      width: 100%;
      opacity: 1;
  }
  100%{
      width: 100%;
  }
}
@keyframes run-cycle {  
  0% { background-position: -1px 0; } 
  100% {background-position: -1px -2391px; } 
}
@keyframes walk-cycle {  
  0% { background-position: -1200px 0; } 
  100% {background-position: -1200px -2391px; } 
}
@keyframes sit-down {  
  0% { background-position: -800px 0; } 
  100% {background-position: -800px -1000px; } 
}