#perfil{
    background-color: #fffff3;
    .box{
        align-items: flex-end;
        justify-content: space-between;
        div{
            &:first-child{
                width: 50%;
                margin-left: 50px;
            }
            h4{
                font-family: 'livvicregular';
                font-size: 30px;
                line-height: 1.1;
                max-width: 435px;
            }
            p{
                font-size: 24px;
                margin-top: 15px;
            }
        }
    }
}