*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#body{
	background-color: blue;
    .section{
		height: 100vh;
		width: 85%;
		margin:auto;
		max-width: 1450px;
	}
}
// @import "globals/fonts";
@import "sections/header";