.section#contacto
    .box.contacto__box
        h3 Contacto
        .contacto__list
            .hamburguesa
                a.icon(href='https://www.linkedin.com/in/christy-ccb/' target='_blank')
                    img.burger(src='./img/hamburguesa.png')
                    i.icon-linkedin
            .hamburguesa
                
                a.icon(href='mailto:mchristy.ccb@gmail.com?Subject=Vio%20tu%20CV')
                    img.burger(src='./img/hamburguesa.png')
                    i.icon-envelop
            .hamburguesa
                a.icon(href='./img/christy_cv.pdf' download='Christy CV')
                    img.burger(src='./img/hamburguesa.png')
                    i.icon-download3