header
	#header
		.box_header
			.burguer
				.linesE
					.lE1
						.line
						.line
					.lE1
						.line
						.line
				.linesH
					.line
					.line
					.line
					.line
		nav.box_items
			a Perfil
			a Habilidades
			a Portafolio
			a Contacto
