header
	#header
		.header__cat
			.burguer
				.linesE
					.lE1
						.line
						.line
					.lE1
						.line
						.line
				.linesH
					.line
					.line
					.line
					.line
		nav.header__items#myMenu
			a(data-menuanchor="home" class="active" href='#home') Home
			a(data-menuanchor="perfil" href='#perfil') Perfil
			a(data-menuanchor="habilidades" href='#habilidades') Habilidades
			a(data-menuanchor="portafolio" href='#portafolio') Portafolio
			a(data-menuanchor="contacto" href='#contacto') Contacto
