.section#perfil
    .box
        div.perfil__text
            h4 Hola, Soy Christy Desarrolladora Front End
            p Siempre a la busqueda de nuevos aprendizajes #[br]y que mejor ejemplo que este, pues de nunca pensar trabajar en tecnología actualmente vivo disfrutandolo mucho, además que conoci facetas mias #[br]que nunca imagine.
            //- p Por cierto, Soy Cat Lover incondicional (se nota, no?)
        div.perfil__img
            img(src='img/perfil.jpg')