.section#portafolio
    .box
        .mini.aPotash
            .filtro
            .image
                //- img(src='img/0576.jpg')
        //- div
        //-     h4 Americas Potash
        //-     sub Febrero 2017
        //-     p Página web de esta empresa minera peruana que extrae salmueras de potasio en el norte del pais
        //-     a(href='' target='_blank') Visita el proyecto 
        .mini.antonia
            .filtro
            .image
                //- img(src='img/0576.jpg')
        //- div
        //-     h4 Americas Potash
        //-     sub Febrero 2017
        //-     p Página web de esta empresa minera peruana que extrae salmueras de potasio en el norte del pais
        //-     a(href='' target='_blank') Visita el proyecto
        .mini.wallon
            .filtro
            .image
                //- img(src='img/walon_1537303663.png')
        //- div
        //-     h4 Americas Potash
        //-     sub Febrero 2017
        //-     p Página web de esta empresa minera peruana que extrae salmueras de potasio en el norte del pais
        //-     a(href='' target='_blank') Visita el proyecto 
        .mini.movistar
            .filtro
            .image
                //- img(src='img/banner_ElDiaDeManaña_solo.png')
        //- div
        //-     h4 Americas Potash
        //-     sub Febrero 2017
        //-     p Página web de esta empresa minera peruana que extrae salmueras de potasio en el norte del pais
        //-     a(href='' target='_blank') Visita el proyecto 
        .mini.mailing
            .filtro
            .image
                //- img(src='img/0576.jpg')
        //- div
        //-     h4 Americas Potash
        //-     sub Febrero 2017
        //-     p Página web de esta empresa minera peruana que extrae salmueras de potasio en el norte del pais
        //-     a(href='' target='_blank') Visita el proyecto 
        .mini
            .filtro
            .image
                //- img(src='img/0576.jpg')
        //- div
        //-     h4 Americas Potash
        //-     sub Febrero 2017
        //-     p Página web de esta empresa minera peruana que extrae salmueras de potasio en el norte del pais
        //-     a(href='' target='_blank') Visita el proyecto 